*
{
  margin: 0;
  padding: 0;
}
.product-small-img img{
  height:80px;
  margin: 10px 0;
  cursor: pointer;
  display: block;
  opacity:1.6;
  margin-right: 17px;
}
.product-small-img{
  float:left;

}
.product-small-img img:hover{
    opacity:1;
}
.product{
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  position: absolute;
}
.img-big img{
  height: 450px;
  margin-left: 17px;
  margin-top: 10px;

   
}
.img-big{
  float:right;
  
}